<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>analyzer</title>
    <link rel="stylesheet" type="text/css" href="/static/style.css">

</head>

<body>
    <nav class="nav">
        <div class="btn_left_nav">
            <a class="a_nav" href="/">
                <svg xmlns="http://www.w3.org/2000/svg" width="30" height="30" fill="currentColor" class="bi bi-house" viewBox="0 0 16 16">
                <path d="M8.707 1.5a1 1 0 0 0-1.414 0L.646 8.146a.5.5 0 0 0 .708.708L2 8.207V13.5A1.5 1.5 0 0 0 3.5 15h9a1.5 1.5 0 0 0 1.5-1.5V8.207l.646.647a.5.5 0 0 0 .708-.708L13 5.793V2.5a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5v1.293zM13 7.207V13.5a.5.5 0 0 1-.5.5h-9a.5.5 0 0 1-.5-.5V7.207l5-5z"/>
                </svg>
            </a>
            <form action='/aa_analysis.html' method='POST' onclick="submit()">
                <label for="mRna" class="custom-file-upload select_mrna">Translate</label>
                <input type="text" style="display: none;" name="name_file" id="name_file" value={{file}} required>
            </form>
        </div>
        
        <div class="a_nav">selected FASTA:
            <form action='/analysis.html' method='POST' onchange="submit()">
                <label for="file" class="custom-file-upload selected_file">{{file}}</label>
                <input type="file" name="file" id="file">
            </form>
        </div>
    </nav>
    <div class="box_dna">
        <h1>DNA sequence analyzer</h1>
        <div class="sequence_dna">
            <p>
                {{sequence}}
            </p>
        </div>

        <div class="chart">
            <ul class="stats_dna">
                <h3>Statistics</h3>
                <li>Most frequent: {{max}}</li>
                <li>Least frequent: {{min}}</li>
                <li>Number of bases: {{count}}</li>
                {%for i in freq.keys()%}
                <li>{{i}}: {{freq[i]}}</li>
                {%endfor%}
                <a href="#" class="btn_transc" onclick="document.getElementById('mRba_box').style.display = 'flex';">transcription</a>
            </ul>
            <img class="chart_pic" src="data:image/png;base64,{{ pie_chart }}" alt="Pie Chart">
            <img class="chart_pic" src="data:image/png;base64,{{ bar_chart }}" alt="Bar Chart">
        </div>
        <div id="mRba_box" class="box_mrna">
            <h1>RNA transcript</h1>
            <div class="sequence_mrna">
                <p>
                    {{mrna}}
                </p>
            </div>
            <div class="box_hide_btn">
                <a href="#" class="btn_hide" onclick="document.getElementById('mRba_box').style.display = 'none';">hide</a>
            </div>
        </div>
            
    </div>

</body>
</html>